@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* #################### */
/* Global */
/* #################### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* ############### */
    /* Color styles */
    /* ############### */
    --background-1: #ffffff;
    --accent-1: #485c11;
    --accent-2: #dfecc6;
    --accent-3: #8e9c78;
    --accent-4: #000000;
    --accent-5: #6f6f6f;
    --accent-6: #929292;
    --headline: #000000;
    --paragraph: #6f6f6f;
    --captions: #485c11;
    --link: #000000;
    --on-accent-1: #ffffff;
    --divider: #e9e9e9;
    --mid-green: #8E9C78;

    /* ############### */
    /* Text styles */
    /* ############### */
    --fs-12: 10.5px;/*span*/
    --fs-14: 14px;/*a*/
    --fs-15: 15px;/*p*/
    --fs-18: 18px;/*h6*/
    --fs-30: 30px;/*h5*/
    --fs-40: 32px;/*h4*/
    --fs-60: 50px;/*h3*/
    --fs-80: 64px;/*h2*/
    --fs-160: 76px;/*h1*/
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* ############### */
    /* Letter spacing */
    /* ############### */
    --spacing-0-5: -0.5%;
    --spacing-1: -1%;
    --spacing-2-5: -2.5%;
    --spacing-3: -3%;
    --spacing-4: -4%;
    --spacing-4-25: -4.25%;
    --spacing-4-5: -4.5%;
    --spacing-5: -5%;
    --spacing-8: -8%;

    /* ############### */
    /* Line height */
    /* ############### */
    --line-height-80: 80%;
    --line-height-85: 85%;
    --line-height-90: 90%;
    --line-height-95: 95%;
    --line-height-100: 100%;
    --line-height-105: 105%;
    --line-height-110: 100%;
    --line-height-120: 120%;
    --line-height-140: 140%;

    /* ############### */
    /* Border */
    /* ############### */
    --divider-1: #E9E9E9;

    /* ############### */
    /* Font family */
    /* ############### */
    --Dm-sans: "DM Sans", sans-serif;
    --Crimson-text: "Crimson Text", serif;
    --Roboto-mono: "Roboto Mono", monospace;
}


/* #################### */
/* Body */
/* #################### */
body{
    background-color: var(--background);
    font-family: var(--Dm-sans);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    span{
        font-family: var(--Roboto-mono);
        font-weight: var(--fw-regular);
        font-size: var(--fs-12);
        letter-spacing: var(--spacing-3);
        line-height: var(--line-height-140);
        color: var(--captions);
    }
    h1{
        font-family: var(--Crimson-text);
        font-size: var(--fs-160);
        font-weight: var(--fw-regular);
        letter-spacing: var(--spacing-4-5);
        line-height: var(--line-height-85);
    }
    h2{
        font-size: var(--fs-80);
        line-height: var(--line-height-100);
        letter-spacing: var(--spacing-4);
    }
    h3{
        font-family: var(--Crimson-text);
        font-size: var(--fs-60);
        font-weight: var(--fw-regular);
        letter-spacing: var(--spacing-3);
        line-height: var(--line-height-95);
    }
    h4{
        font-family: var(--Crimson-text);
        font-weight: var(--fw-regular);
        font-size: var(--fs-40);
        line-height: var(--line-height-110);
        letter-spacing: var(--spacing-4);
    }
    h5{
        font-weight: var(--fw-medium);
        font-size: var(--fs-30);
        line-height: var(--line-height-120);
        letter-spacing: var(--spacing-8);
    }
    h6{
        font-weight: var(--fw-regular);
        font-size: var(--fs-15);
        letter-spacing: var(--spacing-0-5);
        line-height: var(--line-height-140);
    }
    p{
        font-weight: var(--fw-regular);
        font-size: var(--fs-15);
        line-height: var(--line-height-140);
        letter-spacing: var(--spacing-0-5);
        color: var(--paragraph);
    }
    a{
        text-decoration: none;
        font-weight: var(--fw-bold);
        font-size: var(--fs-14);
        line-height: var(--line-height-140);
        letter-spacing: var(--spacing-2-5);
    }
    button{
        width: 138px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        border: none;
        background-color: var(--accent-2);
        color: var(--link);
        font-weight: var(--fw-bold);
        font-size: var(--fs-14);
        line-height: var(--line-height-140);
        letter-spacing: var(--spacing-2-5);
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        .arrow{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 7px;
            height: 20px;
            .img{
                width: 6px;
                height: 6.01px;
            }
        }
        .arrow{
            transition: all 700ms cubic-bezier(0.4, 0.0, 0.2, 1);
        }
    }
    button:hover{
        background-color: var(--accent-3);
        color: var(--on-accent-1);
        .arrow{
            justify-content: end;
            align-items: start;
        }
    }
    .button_linkout{
        padding: 22px 14px;
        width: 127px;
        height: 48px;
        background-color: var(--accent-1);
        a{
            color: var(--background-1);
        }
    }
    .button_linkout:hover{
        background-color: var(--accent-3);
    }
}


/* #################### */
/* Nav */
/* #################### */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    .navigation_mobile{
        background-color: var(--background-1);
        height: 78px;
        box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 5%);
        .nav_top{
            background-color: var(--background-1);
            padding: 20px 20px 50px 20px;
            display: flex;
            justify-content: space-between;
            .menu_icon{
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon_menu{
                    width: 18px;
                    height: 12px;
                }
                .icon_close{
                    display: none;
                    width: 14px;
                    height: 14px;
                }
            }
        }
        .dropdown_content{
            background-color: var(--background-1);
            padding: 8px 20px 32px 20px;
            display: none;
            flex-direction: column;
            gap: 50px;
            .menu_items{
                div{
                    padding: 30px 0;
                    border-top: 1px solid var(--divider-1);
                    a{
                        color: var(--link);
                    }
                }
            }
            .button_linkout{
                padding: 22px 14px;
                width: 127px;
                height: 48px;
                background-color: var(--accent-1);
                a{
                    color: var(--background-1);
                }
            }
            .button_linkout:hover{
                background-color: var(--accent-3);
            }
        }
    }
    .navigation_pc{
        display: none;
    }
}

/* #################### */
/* header */
/* #################### */
header{
    padding: 120px 16px 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
        text-align: center;
        margin: 42px 0 120px 0;
    }
    .hero_image{
        position: relative;
        height: 410.91px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .background_hero_image{
            background-color: var(--mid-green);
            width: 100%;
            height: 362px;
            border-radius: 30px;
            align-self: flex-end;
        }
        .iphone{
            position: absolute;
            background-image: url(img/iPhone.png);
            background-size: 100%;
            background-position: 50% 10%;
            width: 270px;
            height: 411px;
            img{
                align-self: flex-end;
                border: 1px solid var(--accent-6);
            }
        }
    }
}

/* #################### */
/* Main */
/* #################### */
main{
    .logo_cloud{
        padding: 50px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        h6{
            color: var(--paragraph);
        }
        .logo_row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px 40px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 81.82px;
            }
        }
    }
    .benefits_section{
        padding: 0 16px 100px 16px;
        .headline_and_icons{
            padding: 80px 0 60px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            .text{
                padding-right: 20px;
                caption{
                    color: var(--accent-1);
                }
                h3{
                    margin: 30px 0;
                }
            }
            .icons_module{
                padding-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .icon_lockup{
                    padding: 40px 20px 40px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 24px;
                    border-top: 1px solid var(--divider-1);
                    img{
                        width: 24px;
                        height: 24px;
                    }
                    .textlockup{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h6{
                            color: var(--headline);
                        }
                        p{
                            color: var(--paragraph);
                        }
                    }
                    .text1{
                        padding: 40px 20px 40px 0;
                        gap: 24px;
                    }
                    .text2{
                        padding: 40px 20px 40px 0;
                        gap: 20px;
                    }
                    .text3, .text4{
                        padding: 40px 40px 40px 0;
                        gap: 24px;
                    }
                }
            }
        }
        .hero_image{
            img{
                width: 100%;
                height: 600px;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }
    .features_carousel{
        padding: 0 16px 80px 16px;
        .text{
            padding: 60px 0 80px 0;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .title{
                p{
                    margin: 40px 0;
                }
            }
            .list{
                .list_item{
                    padding: 20px 0;
                    display: flex;
                    gap: 30px;
                    border-top: 1px solid var(--divider-1);
                    p:nth-child(2){
                        color: var(--headline);
                    }
                }
            }
        }
        .features_carousel_v1{
            img{
                width: 100%;
                object-fit: cover ;
                border-radius: 30px;
            }
        }
    }
    .specifications_table{
        padding-bottom: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .content{
            padding: 80px 16px;
            .text_content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                text-align: center;
            }
        }
    }
    .testimonial_section{
        padding: 0 16px 100px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        img{
            width: 100%;
            border-radius: 30px;
        }
        .quote{
            padding-top: 40px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 50px;
            .name{
                display: flex;
                align-items: center;
                gap: 8px;
                p{
                    color: var(--headline);
                }
            }
        }
    }
    .how_it_works_section{
        padding: 80px 16px 100px 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
        .frame_map{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
        }
    }
    .hero_image_bottom{
        padding-bottom: 40px;
        height: 640px;
        .image_container{
            padding: 0 16px;
            img{
                width: 100%;
                height: 600px;
                border-radius: 30px;
                object-fit: cover;
            }
        }
    }
    .centered_cta{
        padding: 120px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 40px;
        button{
            width: 100%;
            background-color: var(--accent-1);
            color: var(--background);
            gap: 2px;
        }
    }
}

footer{
    padding: 40px 16px 20px 16px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 80px;
    .links{
        display: flex;
        flex-direction: column;
        .nav_items{
            display: flex;
            flex-direction: column;
            gap: 27px;
            a{
                color: var(--link);
            }
        }
    }
    .credits{
        display: flex;
        align-items: flex-end;
        gap: 40px;
        .text{
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 800px){
    :root{
        /* ############### */
        /* Text styles */
        /* ############### */
        --fs-12: 11px;/*caption*/
        --fs-30: 30px;/*h5*/
        --fs-40: 40px;/*h4*/
        --fs-60: 54px;/*h3*/
        --fs-80: 80px;/*h2*/
        --fs-160: 140px;/*h1*/
    }

    /* #################### */
    /* Body */
    /* #################### */
    body{
        padding: 0 40px 20px 40px;
        span{
            letter-spacing: var(--spacing-1);
            line-height: var(--line-height-140);
        }
        h1{
            letter-spacing: var(--spacing-5);
            line-height: var(--line-height-80); 
        }
        h3{
            letter-spacing: var(--spacing-3);
            line-height: var(--line-height-90);
        }
    }

    /* #################### */
    /* Nav */
    /* #################### */
    nav{
        position: relative;
        align-items: center;
        .navigation_mobile{
            display: none;
        }
        .navigation_pc{
            display: block;
            height: 148px;
            padding: 20px 0 80px 0;
            .nav_items{
                padding: 20px 24px;
                position: fixed;
                display: flex;
                left: 49%;
                transform: translateX(-51%);
                align-items: center;
                gap: 27px;
                background-color: #ffffff40;
                border-radius: 100px;
                backdrop-filter: blur(30px);
                a{
                    color: var(--link);
                    transition: opacity 300ms ease-out;
                }
                a:hover{
                    opacity: 55%;
                }
            }
            .navigation{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    /* #################### */
    /* header */
    /* #################### */
    header{
        margin-top: 42px;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1{
            font-family: var(--Crimson-text);
            font-size: var(--fs-160);
            font-weight: var(--fw-regular);
            text-align: center;
            letter-spacing: var(--spacing-4-5);
            line-height: var(--line-height-90);
            margin: 42px 0 120px 0;
        }
        .hero_image{
            position: relative;
            height: 422px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 0 21.5px;
            .background_hero_image{
                background-color: var(--mid-green);
                width: 100%;
                height: 362px;
                border-radius: 30px;
                align-self: flex-end;
            }
            .iphone{
                background-color: var(--accent-4);
                position: absolute;
                background-image: url(img/Ipad\ _tablet.png);
                background-repeat: no-repeat;
                background-position: 50% 13.8px;
                background-size: 645.76px 453.1px;
                width: 90%;
                height: 481px;
                border-radius: 17.9px 17.9px 0 0;
                bottom: -60px;
                img{
                    align-self: flex-end;
                }
            }
        }
    }

    main{
        .benefits_section{
            .headline_and_icons{
                .icons_module{
                    .iconlockup{
                        width: 350px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px){
    :root{
        /* ############### */
        /* Text styles */
        /* ############### */
        --fs-12: 12px;/*caption*/
        --fs-30: 30px;/*h5*/
        --fs-60: 60px;/*h3*/
        --fs-160: 160px;/*h1*/
    }

    /* #################### */
    /* Body */
    /* #################### */
    body{
        h1{
            line-height: var(--line-height-85); 
        }
    }
}